<h2>Featured Project</h2>
<ul>
<% @projects.each do |a| %>
  <li><%= link_to(a.name, class_project_path(a.id)) %></li>
<% end %>
</ul>

<h2>Recent Articles</h2>
<ul>
<% @recent.each do |a| %>
  <li><%= link_to(a.title, article_path(a.id)) %> (<%= a.created_at.strftime('%b %d, %Y') %>)</li>
<% end %>
</ul>

